#head{
    background-color:white;
    width: 100%;
    height: 50px;
    top:0;
    left: 0;
    position: fixed;
}
#gambar{
    float:left;
}
nav{
    background-color: white;
    display: inline-block;
    color:blue;
    text-align: justify;
    left:80%;
    width:33.33%;
    height: 50px;
    top:0;
    position: absolute;
}
.menu{
    display: inline-block;
    padding-left: 10px;
    list-style-type: none;
}
#utama{
    background-color: white;
    position: relative;
    margin: 70px 10% 70px 10%;
    z-index: -1;

}
body{
    background-image: url("../img/pattern.jpg");
    position: absolute;
}
footer{
    background-color: black;
    color:white;
    text-align: center;
    bottom: 0;
    height: 50px;
    position: fixed;
    bottom:0px;
    width: 100%;
    left:0;
}
h1{
    text-align: center;
}